* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: #0a3d62;
}

body {
	background-color: #82ccdd;
}

h1 {
	text-align: center;
}

button {
	margin: 0 auto;
	padding: 0em 0.5em 0em 0.5em;
	border-radius: 5px;
	height: 3em;
	font-size: 1.5em;
	align-self: center;
	background-color: #82ccdd;
}

hr {
	display: block;
	height: 2px;
	border: 0;
	border-top: 1px solid #82ccdd;
	padding: 0;
}

.content {
	display: flex;
	width: 100vw;
	height: 90vh;
}

.results {
	height: 100%;
	width: 30%;
	display: flex;
	flex-direction: column;
}

.map {
	background-color: #60a3bc;
	height: 100%;
	width: 70%;
	margin: 10px 10px 0px 10px;
}

.filters {
	background-color: #60a3bc;
	height: 20%;
	margin: 10px 0px 0px 10px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.directions {
	min-height: 80%;
	margin: 10px 0px 0px 10px;
}

.direction {
	background-color: #60a3bc;
	padding: 10px;
}
